<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styleAdmin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body id="body-pd">

    <header class="header navbar navbar-expand-md pe-0" id="header">
        <div class="d-flex me-auto header_toggle">
            <i class="bi bi-list mx-4" id="header-toggle"></i>
        </div>
        <form class="d-flex ms-auto" method="post" action="/search">
            <input class="form-control" type="search" placeholder="Search" value="" aria-label="Search" name="search" />
            <button class="btn btn-outline-primary btn-search" type="submit">Search</button>
        </form>
        <div class="btn-group ms-2 user-setting">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
                aria-expanded="false">
                <img src="/images/Rectangle 62.png" class="rounded-circle" alt=""
                    style="width: 38px; height: 38px; object-fit: cover" />
                Unis Badri
            </button>
            <ul class="dropdown-menu dropdown-menu-sm-end">
                <li>
                    <button class="dropdown-item" type="button">Setting</button>
                </li>
                <li>
                    <button class="dropdown-item" type="button">Logout</button>
                </li>
            </ul>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <table class="h-100">
                <tr>
                    <td style="vertical-align: top; width: 60px; padding: 0px">
                        <img class="nav_logo" src="/images/Rectangle 63.png" />
                        <a href="/" class="nav_link"><img src="/images/Home.png" alt="" /></a>
                        <a href="/" class="nav_link active-menu"><img src="/images/Administrator.png" alt="" /></a>
                    </td>
                    <td style="vertical-align: top; background-color: #ffffff; padding: 0px">
                        <img class="nav_logo" src="/images/Rectangle 62.png" />
                        <p class="nav_title" style="margin-top: 17px">CARS</p>
                        <a href="/" class="nav_title text-black bg-color-1">List Car</a>
                    </td>
                </tr>
            </table>
        </nav>
    </div>

    <div class="h-100 mx-4">

        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb pt-3">
                <li class="breadcrumb-item">
                    <a class="fw-bold text-black text-decoration-none">Cars</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/" class="fw-bold text-black text-decoration-none">List Car</a>
                </li>
                <li class="breadcrumb-item active">Add New Car</li>
            </ol>
        </nav>

        <div class="pt-2 d-flex justify-content-between">
            <h4 class="h4 fw-bold">Add New Car</h4>
        </div>
        <div class="bg-white rounded mt-3">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-xl-7">
                    <div class="kembali" style="padding: 25px 25px 0 25px;">
                        <a href="/">
                            <p style="font-size: 20px;"><i class="bi bi-arrow-left-square"></i></p>
                        </a>
                    </div>
                    <form style="padding: 0 50px 50px 50px;" action="/cars/update/<%= cars?.id%>"
                        enctype="multipart/form-data" method="post">
                        <div class="form-grub">
                            <label for="inputNama" class="col-form-label">Nama*</label>
                            <div class="foto">
                                <input required type="text" name="name" class="form-control" id="inputNama"
                                    placeholder="Avanza" value="<%= cars?.name %>">
                            </div>
                        </div>
                        <div class="form-grub">
                            <label for="inputSewa" class="col-form-label">Sewa Per Hari*</label>
                            <div class="foto">
                                <input required type="number" id="inputSewa" name="rentPerDay" class="form-control"
                                    placeholder="Rp.0,-" value="<%= cars?.rentPerDay%>">
                            </div>
                        </div>
                        <div class="form-grub">
                            <label for="" class="col-form-label">Ukuran*</label>
                            <div class="foto">
                                <select class="form-select" name="size_id" id="inputSize"
                                    aria-label="Default select example">
                                    <option value="<%= cars?.size_id %>" selected>
                                        <%= cars.Ukur.size %>
                                    </option>
                                    <% coba.forEach((size)=> { %>
                                        <option value="<%= size?.id %>">
                                            <%= size?.size %>
                                        </option>
                                        <% }) %>
                                            <!-- <option value="2">medium</option>
                                            <option value="3">large</option> -->
                                </select>
                            </div>
                        </div>

                        <div class="form-grub">
                            <label for="inputPhoto" class="col-form-label">Foto*</label>
                            <div class="foto">
                                <input required type="file" class="form-control file" name="photo" id="inputPhoto"
                                    aria-describedby="inputGroupFileAddon03" accept="image/*"
                                    placeholder="https://placeimg.com/640/480/any">

                                <small>File Size Max.2MB</small>
                            </div>
                        </div>
                        <div class="btn-primer fixed-bottom my-4">
                            <button type="reset" class="btn cancel btn-outline-primary">Reset</button>
                            <button type="submit" class="btn save btn-primary mx-3 px-4">Save</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-12 col-md-6  col-xl-5 p-5" style="margin: auto; text-align: center;">
                    <img class="rounded" src="/<%= cars?.photo %>" width="100%" alt="" srcset="">
                    <small>
                        <%= cars?.photo %>
                    </small>
                </div>
            </div>



        </div>

</body>

</html>